* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.btn .play {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(236, 43, 162);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgb(240, 60, 171);
  transition: 0.5s;
}

.btn.active .play {
  box-shadow: 0 0 0 150vh rgb(236, 43, 162);
}

.btn .play::before {
  content: "";
  position: absolute;
  border: 20px solid #fff;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 0px solid transparent;
  transform: translate(2px);
}

.btn p {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.clip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.clip.active {
  transition-delay: 0.5s;
  transform: translate(-50%, -50%) scale(1);
}

.clip .image {
  max-width: 900px;
  height: 400px;
  border: 10px solid #fff;
  border-radius: 4px;
}

.clip .close {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
}
